<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
    
  <body>

    <!-- Nav -->
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Smart Car</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <!-- Dashboard -->
      <!-- Username information -->
       <h1 class="h2">Dashboard</h1>
          <div class="container-fluid">
            <div class="row">
             <div class="col-sm8">
              <h3> Hi UserName </h3>
              <img> User's image here </img>
            </div>
        
      <!-- Vehicle information -->
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4" id="vehicle-info">
            <h4 class="header"> Your Vehicle </h4>
                <p class="vehicle.make" name="vehicle_make"> Make </p>
                <p class="vehicle.model" name="vehicle_model"> Model </p>
                <p class="vehicle.year" name="vehicle_year"> Year </p>
               <img src="image.car"> Img </img>
            </div>
          </div class="row>">

        <!-- Odometer -->  
          <div class="row">
            <div name="odometer"> 
                <h4> Total Miles: <!-- Input Mileage here --> </h4>
                <h4> Recommended Services: </h4>
            </div>
          </div class="row">

      <!-- Shop Information -->
      <div class="row" id="shop-display">
       <h4> Nearby Shops </h4>  
        <div class="table-responsive">
          <table class="table table-striped-table-sm__web-inspector-hide-shortcut__">
            <thead>
              <tr>
                <th>Shop</th>
                <th>Category</th> <!-- Yelp Category -->
                <th>Services</th> <!-- Services -->
                <th>Distance </th> <!-- Distance -->
                <th>Phone number </th> <!-- Phone number -->
                <th> Contact </th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td>Shop Name </td>
                <td>Category Name</td>
                <td>Type of Services</td>
                <td>Distance </td>
                <td> 123-234-3456 </td>
                <td> <button type="button" class="btn btn-primary" name="redirect">Visit page</button> </td>
              </tr>
              <tr> 
                <td>Shop Name </td>
                <td>Category Name</td>
                <td>Type of Services</td>
                <td>Distance </td>
                <td> 123-234-3456 </td>
                <td> <button type="button" class="btn btn-primary" name="redirect">Visit page</button> </td>
              </tr>
              <tr> 
                <td>Shop Name </td>
                <td>Category Name</td>
                <td>Type of Services</td>
                <td>Distance </td>
                <td> 123-234-3456 </td>
                <td> <button type="button" class="btn btn-primary" name="redirect">Visit page</button> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div class="row">
    </div class="container-fluid">



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>


