<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Dashboard</title>
  </head>
  <body>

    <!-- Nav -->
      <div class="card-header"> 
      <h5 class="card-title"> Smartshop </h5> 
      <div align="right"> </div>
      </div>

    <!-- Dashboard -->
        <!-- Username information -->

        <!-- div class="container-fluid">
          <div class="row"> -->

            <div>
              <h3> Hi UserName </h3>
              <img> User's image here </img>
            </div>
          </div>

        <div class="?" id="vehicle-info">
          <h3 class="header"> Vehicle Information </h3>
            <p class="vehicle.make" name="vehicle.make"> Make </p>
            <p class="vehicle.model" name="vehicle.model"> Model </p>
            <p class="vehicle.year" name="year"> Year </p>
            
            <!-- Place holder for images -->
            <img src="image.car"> Img </img>
          </div>
        </div>

        </div>

        <!-- Odometer -->

    <div name="odometer"> 
      <h2> Total Miles: <!-- Input Mileage here --> </h2>
    </div>

    <div name="history-of-services">
      <h2> History </h2>

      <h2> Upcoming Services </h2>

        <!-- Shop Information -->

       <h2> Nearby Shops </h2>  
        <div class="table-responsive">
          <table class="table table-striped-table-sm">
            <thead>
              <tr>
                <th>Shop</th>
                <th>Category</th> <!-- Yelp Category -->
                <th>Services</th> <!-- Services -->
                <th>Distance </th> <!-- Distance -->
                <th>Phone number </th> <!-- Phone number -->
                <th> Contact </th>
              </tr>
            </thead>
            <tbody>
              <tr> 
                <td>Shop Name </td>
                <td>Category Name</td>
                <td>Type of Services</td>
                <td>Distance </td>
                <td> 123-234-3456 </td>
                <button type="button" class="btn btn-primary">Redirect</button>
              </tr>
            </tbody>
          </table>
        </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>


